@import "./responsive.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ------------basket-cart---------
.basket-cart-container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  .basket-cart-element {
    width: 700px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    @include responsiveMax768 {
      width: 95%;
    }
    @include responsiveMax450 {
      height: 500px;
    }
    .basket-cart-list {
      width: 100%;
      list-style: none;
      display: flex;
      gap: 10px;
      align-items: flex-start;
      flex-wrap: wrap;
      border: 1px solid #2f485890;
      width: 100%;
      height: 100%;
      padding: 10px;
      border-radius: 10px;
      height: 400px;
      overflow-y: scroll;
      @include responsiveMax425 {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 500px;
      }
      li {
        border: 1px solid #2f485890;
        border-radius: 10px;
        width: 152px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        .basket-cart-image {
          width: 150px;
          height: 150px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
          }
        }
        .basket-text {
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          background-color: #2f4858;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 150px;
          height: 70px;
          .basket-car-name {
            font-size: 14px;
            color: white;
            font-weight: bold;
            height: 40px;
          }
          .basket-price {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 14px;
              color: white;
              font-weight: bold;
            }
            .xIcon-basket {
              color: red;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .total-price {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      p {
        font-size: 16px;
        font-weight: bold;
      }
      .back-basket {
        padding: 7px 25px;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        background-color: #495257;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        }
      }
      .pay {
        padding: 7px 25px;
        border-radius: 5px;
        border: none;
        background-color: #2f4858;
        color: white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
// ---------module--------
.module-container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  .module-element {
    width: 700px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @include responsiveMax768 {
      width: 95%;
    }
    @include responsiveMax450 {
      flex-direction: column;
      height: 500px;
    }
    .module-image {
      width: 40%;
      height: 370px;
      border-radius: 10px;
      @include responsiveMax450 {
        width: 100%;
        height: 200px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        @include responsiveMax450 {
          object-fit: contain;
        }
      }
    }
    .module-exc {
      width: 40%;
      height: 370px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include responsiveMax450 {
        width: 100%;
        height: 200px;
      }
      p {
        font-size: 100px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        color: #d55593;
      }
    }
    .module-text {
      width: 60%;
      height: 370px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      @include responsiveMax450 {
        width: 100%;
        height: 270px;
      }
      .prive-and-about {
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
          color: #2f4858;
          font-style: italic;
          @include responsiveMax450 {
            font-size: 20px;
          }
        }
        .prive-element {
          display: flex;
          align-items: center;
          gap: 5px;
          h3 {
            color: #2f4858;
            @include responsiveMax450 {
              font-size: 16px;
            }
          }
          p {
            font-size: 16px;
            font-style: italic;
          }
        }
        .about-element {
          display: flex;
          flex-direction: column;
          gap: 5px;
          height: 300px;
          overflow-y: scroll;
          @include responsiveMax450 {
            height: 150px;
          }
          h3 {
            color: #2f4858;
            @include responsiveMax450 {
              font-size: 16px;
            }
          }
          p {
            font-style: italic;
            overflow-y: scroll;
            font-size: 16px;
          }
        }
      }
      .add-cart-module-element {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .back-button {
          width: 100px;
          height: 40px;
          border-radius: 4px;
          border: none;
          font-size: 14px;
          background-color: #495257;
          color: white;
          cursor: pointer;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.03);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          }
        }
        .add-button {
          width: 150px;
          height: 40px;
          border-radius: 4px;
          border: none;
          font-size: 14px;
          background-color: #2f4858;
          color: white;
          cursor: pointer;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.03);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
// -----------menu-bar----------
.menu-bar-container {
  position: absolute;
  z-index: 2000;
  width: 100%;
  min-height: 100vh;
  background-color: #2f4858;
  display: none;
  align-items: center;
  .menu-bar-element {
    width: 95%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .x-icon-menu-bar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .xIcon-menuBar {
        font-size: 30px;
        color: white;
      }
    }
    .logo-in-menu-bar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .logo-in-menu-bar-element {
        width: 80px;
        img {
          width: 100%;
        }
      }
      h2 {
        color: white;
        font-style: italic;
      }
    }
    .menu-list-in-menu-bar {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      li {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
        a {
          color: white;
          font-size: 18px;
          text-decoration: none;
        }
        &:hover a {
          color: #d0b0b1;
        }
      }
    }
    .sosial-network-in-menu-bar {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
        a {
          text-decoration: none;
          i {
            color: white;
            font-size: 24px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #d0b0b1;
            }
          }
        }
      }
    }
  }
}
// ----------chat-menu----------
.chat-menu-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #2f4858;
  .chat {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include responsiveMax550 {
      width: 280px;
      height: 400px;
    }
    .close-element {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #2f4858;
      padding: 10px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      h4 {
        color: white;
      }
      i {
        font-size: 20px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .messages {
      width: 100%;
      height: 400px;
      padding: 10px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: scroll;
      .bot-message {
        width: 100%;
        p {
          width: 80%;
          font-size: 16px;
          font-weight: bold;
          font-style: italic;
        }
      }
      .user-message {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        p {
          width: 80%;
          text-align: end;
          font-size: 16px;
        }
      }
    }
    .text-input {
      width: 100%;
      height: 60px;
      padding: 10px;
      background-color: #2f4858;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #text {
        width: 320px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        @include responsiveMax425 {
          width: 200px;
        }
      }
      #submit {
        width: 45px;
        height: 40px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        color: #2f4858;
        transition: all 0.3s ease-in-out;
        @include responsiveMax425 {
          width: 35px;
          height: 30px;
        }
        &:hover {
          transform: scale(1.03);
          background-color: #66879b;
          border: 1px solid white;
          color: white;
        }
      }
    }
  }
}
// ----------header----------
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   ----------navbar--------
  nav {
    width: 1700px;
    max-width: 100%;
    background-color: #2f4858;
    display: flex;
    justify-content: center;
    align-items: center;
    // -------up-side-nav-------
    .up-side-nav {
      width: 90%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   ----------left-side----------
      .left-side {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsiveMax768 {
          width: 70%;
        }
        @include responsive768to1024 {
          width: 30%;
        }
        .logo-name {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          @include responsiveMax1024 {
            gap: 10px;
            justify-content: flex-start;
          }
          .navbar-image {
            width: 60px;
            cursor: pointer;
            @include responsiveMax768 {
              width: 30px;
            }
            @include responsive768to1024 {
              width: 45px;
            }
            img {
              width: 100%;
            }
          }
          h1 {
            width: 100%;
            color: white;
            font-style: italic;
            font-size: 24px;
            cursor: pointer;
            @include responsiveMax768 {
              font-size: 20px;
            }
            @include responsive768to1024 {
              font-size: 22px;
            }
          }
        }
      }
      //   ----------right-side----------
      .right-side {
        width: 60%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        @include responsiveMax768 {
          width: 30%;
        }
        @include responsive768to1024 {
          width: 70%;
        }
        .search-element {
          position: relative;
          display: block;
          @include responsiveMax768 {
            display: none;
          }
          input {
            width: 300px;
            padding: 8px 10px 8px 30px;
            border-radius: 15px;
            border: none;
            font-size: 14px;
            @include responsive768to1024 {
              width: 200px;
            }
          }
          i {
            position: absolute;
            left: 10px;
            top: 8px;
            z-index: 1;
            font-size: 18px;
            cursor: pointer;
            color: black;
          }
        }
        .phone-number {
          @include responsiveMax768 {
            display: none;
          }
          i {
            @include responsive768to1024 {
              font-size: 16px;
            }
          }
        }
        .chat-element {
          margin-top: 5px;
          p {
            @include responsiveMax768 {
              display: none;
            }
          }
          i {
            @include responsive768to1024 {
              font-size: 16px;
            }
          }
        }
        .menu-bar {
          display: none;
          @include responsiveMax768 {
            display: block;
          }
        }
        li {
          display: flex;
          align-items: center;
          gap: 5px;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.03);
          }
          i {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 5px;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
          .fa-heart:hover {
            color: #ad929f;
            transition: all 0.3s ease-in-out;
          }
        }
        .basket-shopping {
          position: relative;
          cursor: pointer;
          p {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: #ad929f;
            font-size: 12px;
            padding: 1px 4px;
            border-radius: 100%;
          }
        }
      }
    }
  }
  //   ----------down-side-nav----------
  .down-side-nav {
    width: 1700px;
    max-width: 100%;
    background-color: #595f75;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include responsiveMax768 {
      display: none;
    }
    .menu-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 15px;
      li {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
        a {
          color: white;
          font-size: 18px;
          text-decoration: none;
        }
        &:hover a {
          color: #d0b0b1;
        }
      }
    }
  }
  // -------search-container--------
  .search-container {
    display: none;
    @include responsiveMax768 {
      display: flex;
      justify-content: flex-end;
      width: 1700px;
      max-width: 100%;
      padding: 10px 20px;
      background-color: #495257;
    }
    .search-part {
      position: relative;
      input {
        width: 280px;
        padding: 8px 10px 8px 30px;
        border-radius: 15px;
        border: none;
        font-size: 14px;
      }
      i {
        position: absolute;
        left: 10px;
        top: 8px;
        z-index: 1;
        font-size: 18px;
        cursor: pointer;
        color: black;
      }
    }
  }
  //   ----------discount-----------
  .discount-container {
    width: 1700px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    .discount-element {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      a {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        color: #2f4858;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        @include responsiveMax425 {
          font-size: 12px;
        }
        @include responsiveMax425to768 {
          font-size: 16px;
        }
        &:hover {
          transform: scale(1.03);
        }
      }
      p:last-child {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        color: #d55593;
        animation: blinkAnimation 1.5s infinite;
        @include responsiveMax425 {
          font-size: 12px;
        }
        @include responsiveMax425to768 {
          font-size: 16px;
        }
      }
      @keyframes blinkAnimation {
        0% {
          opacity: 1;
          color: #d55593;
        }
        50% {
          opacity: 0.6;
          color: #d55593;
        }
        100% {
          opacity: 1;
          color: #d55593;
        }
      }
    }
  }
  //   ----------mirable-image---------
  .mirable-container {
    width: 1700px;
    max-width: 100%;
    position: relative;
    .mirable-image {
      width: 100%;
      height: 70vh;
      @include responsiveMax550 {
        height: 25vh;
      }
      @include responsiveMax550to768 {
        height: 50vh;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        z-index: 2;
        pointer-events: none;
        @include responsiveMax450 {
          background: unset;
        }
      }
    }
    .header-text {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 100;
      display: flex;
      justify-content: center;
      @include responsiveMax550 {
        top: 1%;
      }
      .header-element {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
          color: #2f4858;
          font-size: 50px;
          width: 300px;
          font-style: italic;
          @include responsiveMax768 {
            font-size: 22px;
          }
          @include responsiveMax450 {
            font-size: 24px;
          }
        }
        .souvenir-image {
          width: 500px;
          @include responsiveMax550 {
            width: 200px;
          }
          @include responsiveMax550to768 {
            width: 350px;
          }
          @include responsive768to1024 {
            width: 380px;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    // ----------discount-cards------
    .discount-cards-container {
      width: 1700px;
      max-width: 100%;
      .discount-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -420px;
        z-index: 100;
        @include responsiveMax768 {
          bottom: -680px;
        }
        @include responsiveMax550 {
          bottom: -770px;
        }
        @include responsiveMax650 {
          position: unset;
        }
        .discount-cards-element {
          width: 1400px;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          border-radius: 10px;
          padding: 20px 10px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          gap: 30px;
          @include responsiveMax1400 {
            width: 95%;
          }
          @include responsiveMax768 {
            max-width: 600px;
          }
          h2 {
            color: #2f4858;
            font-style: italic;
            font-size: 24px;
            @include responsiveMax768 {
              font-size: 20px;
            }
          }
          .cards-discount {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            @include responsiveMax768 {
              width: 80%;
            }
            @include responsiveMax550 {
              width: 100%;
            }
            li {
              width: 23%;
              position: relative;
              border: 1px solid #2f485890;
              padding: 15px;
              border-radius: 10px;
              @include responsiveMax768 {
                width: 200px;
              }
              .discount-percentage {
                position: absolute;
                top: -15px;
                left: -5px;
                p {
                  font-size: 80px;
                  color: #d55593;
                }
              }
              .discount-text {
                position: absolute;
                top: 20px;
                left: 13px;
                z-index: 5;
                color: white;
                font-size: 16px;
                @include responsiveMax768 {
                  font-size: 14px;
                  top: 21px;
                  left: 15px;
                }
              }
              .discount-image {
                width: 100%;
                border-radius: 10px;
                img {
                  width: 100%;
                  height: 300px;
                  border-radius: 10px;
                  object-fit: cover;
                  @include responsiveMax1024 {
                    height: 150px;
                  }
                }
              }
              h3 {
                font-style: italic;
                margin: 5px 0;
                @include responsiveMax768 {
                  font-size: 14px;
                }
              }
              .value-discount {
                display: flex;
                align-items: center;
                gap: 5px;
                @include responsiveMax425 {
                  flex-direction: column;
                  align-items: flex-start;
                }
                p {
                  font-size: 14px;
                  font-weight: bold;
                }
                p:last-child {
                  color: #d55593;
                  text-decoration: line-through;
                }
              }
              .star-element {
                display: flex;
                margin-bottom: 5px;
                p {
                  color: #d55593;
                  font-size: 20px;
                  @include responsiveMax768 {
                    font-size: 16px;
                  }
                }
              }
              button {
                background-color: #d55593;
                width: 100%;
                border: none;
                padding: 10px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 500;
                color: white;
                cursor: pointer;
                margin-bottom: 5px;
                transition: all 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.03);
                  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
                }
              }
              h4 {
                font-style: italic;
                @include responsiveMax768 {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
main {
  width: 100%;
  background-color: white;
  //   ---------trending-cards------------
  .trending-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 480px;
    @include responsiveMax768 {
      margin-top: 720px;
    }
    @include responsiveMax550 {
      margin-top: 800px;
    }
    @include responsiveMax450 {
      margin-top: 30px;
    }
    .trending-cards-element {
      width: 1400px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include responsiveMax1400 {
        width: 95%;
      }
      @include responsiveMax768 {
        width: 80%;
      }
      @include responsiveMax550 {
        align-items: center;
      }
      h2 {
        color: #2f4858;
        font-style: italic;
      }
      .cards-trending {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        @include responsiveMax550 {
          justify-content: center;
        }
        li {
          display: flex;
          flex-direction: column;
          gap: 10px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          .trending-image {
            width: 250px;
            height: 250px;
            border-radius: 10px;
            @include responsive768to1024 {
              width: 170px;
              height: 170px;
            }
            @include responsiveMax550to768 {
              width: 200px;
              height: 200px;
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
          h3 {
            color: #2f4858;
            font-style: italic;
          }
        }
      }
    }
  }
  //   ---------exclusive-cards----------
  .exclusive-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .exclusive-element {
      width: 1400px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include responsiveMax1400 {
        width: 95%;
      }
      @include responsiveMax768 {
        width: 80%;
      }
      h2 {
        color: #2f4858;
        font-style: italic;
      }
      .exc-text {
        color: #d55593;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
      }
      .cards-exclusive-container {
        width: 870px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border: 1px solid #2f485895;
        padding: 10px;
        border-radius: 10px;
        @include responsive768to1024 {
          width: 660px;
        }
        @include responsiveMax768 {
          flex-direction: column;
          width: 100%;
        }
        // ---------card-exclusive---------
        .cards-exclusive {
          list-style: none;
          display: flex;
          justify-content: center;
          gap: 20px;
          @include responsiveMax768 {
            flex-direction: column;
          }
          li {
            width: 250px;
            border: 1px solid #2f485890;
            padding: 15px;
            border-radius: 10px;
            @include responsiveMax1024 {
              width: 180px;
              height: 320px;
            }
            .exc-image {
              width: 100%;
              height: 200px;
              border-radius: 10px;
              @include responsiveMax768 {
                height: 180px;
              }
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
              }
            }
            h3 {
              font-style: italic;
              margin: 5px 0;
            }
            .value-element {
              display: flex;
              align-items: center;
              gap: 5px;
              p {
                font-size: 14px;
                font-weight: bold;
                color: black;
              }
            }
            .star-element {
              display: flex;
              margin-bottom: 5px;
              p {
                color: #d55593;
                font-size: 30px;
                @include responsiveMax768 {
                  font-size: 20px;
                }
              }
            }
          }
        }
        .plus-element {
          font-size: 70px;
          color: #d55593;
          @include responsiveMax768 {
            font-size: 50px;
          }
        }
        // --------exc-card---------
        .exc-card {
          list-style: none;
          display: flex;
          justify-content: center;
          gap: 20px;
          li {
            width: 250px;
            border: 1px solid #2f485890;
            padding: 15px;
            border-radius: 10px;
            @include responsiveMax1024 {
              width: 180px;
              height: 320px;
            }
            .exc-image {
              width: 100%;
              height: 200px;
              border-radius: 10px;
              @include responsiveMax768 {
                height: 180px;
              }
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
              }
            }
            h3 {
              font-style: italic;
              margin: 5px 0;
            }
            .value-element {
              display: flex;
              align-items: center;
              gap: 5px;
              p {
                font-size: 14px;
                font-weight: bold;
                color: black;
              }
            }
            .star-element {
              display: flex;
              margin-bottom: 5px;
              p {
                color: #d55593;
                font-size: 30px;
                @include responsiveMax768 {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    .order-now-container {
      width: 870px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      background-color: #d55593;
      font-weight: bold;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include responsiveMax1024 {
        width: 100%;
        margin: 0 auto;
      }
      &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  //   ------------all-cards-----------
  .all-cards-container {
    width: 100%;
    min-height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .all-cards-element {
      width: 1400px;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      @include responsiveMax1400 {
        width: 95%;
      }
      .upside-all-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        @include responsiveMax768 {
          align-items: center;
        }
        h2 {
          color: #2f4858;
          font-style: italic;
        }
        .cards-all {
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 20px;
          @include responsiveMax768 {
            justify-content: center;
          }
          li {
            width: 23%;
            position: relative;
            border: 1px solid #2f485890;
            padding: 15px;
            border-radius: 10px;
            @include responsiveMax1024 {
              width: 220px;
            }
            .all-card-image {
              width: 100%;
              border-radius: 10px;
              img {
                width: 100%;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
                @include responsiveMax1024 {
                  height: 200px;
                }
              }
            }
            h3 {
              font-style: italic;
              margin: 5px 0;
            }
            .value-element {
              display: flex;
              align-items: center;
              gap: 5px;
              p {
                font-size: 14px;
                font-weight: bold;
                color: black;
              }
            }
            .star-element {
              display: flex;
              margin-bottom: 5px;
              p {
                color: #d55593;
                font-size: 20px;
              }
            }
            button {
              background-color: #d55593;
              width: 100%;
              border: none;
              padding: 10px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: bold;
              color: white;
              cursor: pointer;
              margin-bottom: 5px;
              transition: all 0.3s ease-in-out;
              &:hover {
                transform: scale(1.03);
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
      .pagination-in-all-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        button {
          padding: 7px 10px;
          border-radius: 5px;
          border: none;
          background-color: #ad929f;
          color: white;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
  // ---------men-----------
  .man-container,
  .woman-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .man-element,
    .woman-element {
      width: 1700px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @include responsiveMax1400 {
        width: 95%;
      }
      .man-image-container {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        background-color: #2f4858;
        @include responsiveMax550 {
          height: 100px;
        }
        h2 {
          color: white;
          font-style: italic;
          font-size: 50px;
          height: 110px;
          @include responsiveMax768 {
            font-size: 40px;
            height: 100px;
          }
          @include responsiveMax550 {
            height: 70px;
            font-size: 30px;
          }
          @include responsiveMax425 {
            font-size: 22px;
          }
        }
        .man-image {
          width: 350px;
          @include responsiveMax768 {
            width: 300px;
          }
          @include responsiveMax550 {
            width: 220px;
          }
          @include responsiveMax425 {
            width: 200px;
          }
          img {
            width: 100%;
          }
        }
      }
      .woman-image-container {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        background-color: #d55593;
        @include responsiveMax550 {
          height: 100px;
        }
        h2 {
          color: white;
          font-style: italic;
          font-size: 50px;
          height: 110px;
          @include responsiveMax768 {
            font-size: 40px;
            height: 100px;
          }
          @include responsiveMax550 {
            height: 70px;
            font-size: 30px;
          }
          @include responsiveMax425 {
            font-size: 22px;
          }
        }
        .woman-image {
          width: 350px;
          @include responsiveMax768 {
            width: 300px;
          }
          @include responsiveMax550 {
            width: 220px;
          }
          @include responsiveMax425 {
            width: 200px;
          }
          img {
            width: 100%;
          }
        }
      }
      .man-cards,
      .woman-cards {
        width: 1400px;
        max-width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        li {
          width: 15%;
          position: relative;
          border: 1px solid #2f485890;
          padding: 15px;
          border-radius: 10px;
          @include responsiveMax1400 {
            width: 200px;
          }
          .man-image-souvenir,
          .woman-image-souvenir {
            width: 100%;
            border-radius: 10px;
            img {
              width: 100%;
              height: 200px;
              border-radius: 10px;
              object-fit: cover;
            }
          }
          h3 {
            font-style: italic;
            margin: 5px 0;
          }
          .value-element {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
              font-size: 14px;
              font-weight: bold;
              color: black;
            }
          }
          .star-element {
            display: flex;
            margin-bottom: 5px;
            p {
              color: rgb(255, 196, 0);
              font-size: 20px;
            }
          }
          button {
            background-color: #2f4858;
            width: 100%;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.03);
              box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      .woman-cards {
        li {
          button {
            background-color: #d55593;
          }
        }
      }
      .pagination-in-man-cards,
      .pagination-in-woman-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        button {
          padding: 7px 10px;
          border-radius: 5px;
          border: none;
          background-color: #2f485892;
          color: white;
          cursor: pointer;
          font-size: 14px;
        }
      }
      .pagination-in-woman-cards {
        button {
          background-color: #d0b0b1;
        }
      }
    }
  }
  // ------------evaluation---------
  .evaluation-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @include responsiveMax550 {
      height: 450px;
    }
    .evaluation-element {
      width: 1700px;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      background-color: #d0b0b1;
      padding: 20px 0;
      @include responsiveMax1400 {
        width: 95%;
      }
      h2 {
        font-style: italic;
        font-size: 30px;
        color: #2f4858;
        @include responsiveMax768 {
          font-size: 24px;
        }
        @include responsiveMax550 {
          text-align: center;
        }
      }
      ul {
        width: 70%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        @include responsiveMax1024 {
          width: 100%;
        }
        @include responsiveMax550 {
          flex-direction: column;
        }
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          .quality-image {
            width: 100px;
            @include responsiveMax768 {
              width: 50px;
            }
            img {
              width: 100%;
            }
          }
          h4 {
            text-align: center;
            width: 200px;
            font-style: italic;
            font-size: 20px;
            color: #2f4858;
            @include responsiveMax768 {
              width: 16px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
// -----------footer---------
footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsiveMax650 {
    height: 500px;
  }
  .footer-container {
    width: 1700px;
    max-width: 100%;
    height: 100%;
    background-color: #2f4858;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsiveMax1400 {
      width: 95%;
      padding: 0 10px;
      gap: 20px;
    }
    @include responsiveMax650 {
      flex-direction: column;
      padding: 20px 0;
    }
    // ------menu-list-in-footer------
    .menu-list-in-footer {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      @include responsiveMax650 {
        align-items: center;
      }
      li {
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          transition: all 0.3s ease-in-out;
          @include responsiveMax768 {
            font-size: 18px;
          }
          &:hover {
            color: #d0b0b1;
          }
        }
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    // ---------sosial-network--------
    .sosial-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .footer-logo {
        width: 70px;
        @include responsiveMax768 {
          width: 50px;
        }
        img {
          width: 100%;
        }
      }
      .sosial-network {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        li {
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
          a {
            text-decoration: none;
            i {
              color: white;
              font-size: 30px;
              transition: all 0.3s ease-in-out;
              @include responsiveMax768 {
                font-size: 24px;
              }
              &:hover {
                color: #d0b0b1;
              }
            }
          }
        }
      }
    }
    // ---------mail---------
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 300px;
      @include responsiveMax768 {
        width: 200px;
      }
      #email {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 14px;
      }
      textarea {
        width: 100%;
        height: 70px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        resize: none;
        font-size: 14px;
      }
      #submit {
        padding: 7px 30px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-style: italic;
        background-color: #c98f91;
        color: white;
        transition: all 0.3s ease-in-out;
        @include responsiveMax768 {
          padding: 5px 20px;
        }
        &:hover {
          background-color: #d0b0b1;
          color: #2f4858;
          transform: scale(1.03);
        }
      }
    }
  }
}
